<div class="container">
  <div class="row">
    <ng-container *ngFor="let link of this.links; let i = index">
      <div class="link col-4" *ngIf="i <= 2">
        <app-link [link]="link" [isBig]="true"></app-link>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <ng-container *ngFor="let link of this.links; let i = index">
      <div class="link col-4 col-md-2" *ngIf="i > 2">
        <app-link [link]="link" [isBig]="false"></app-link>
      </div>
    </ng-container>
  </div>
</div>

