@import 'colors';

@mixin clear_style_in_button {
  background: none;
  border: none;
  outline: none;
}

@mixin plus_button {
  @include clear_style_in_button();
  color: $primary-lighten-color;
  font-size: 2rem;
  transition: all 0.2s;

  &:hover, &:active {
    color: $primary-color;
  }
}

@mixin flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
}

@mixin flex-align-center {
  align-items: center;
  -webkit-align-items: center;
}

@mixin flex-justify-center {
  justify-content: center;
  flex-direction: column;
}
