@import '../styles/functions';
@import '../styles/colors';

.container-fluid {
  width: 100%;
  height: 100vh;
  text-align: center;
  padding: 2%;
}
header {

  .options {
    text-align: left;
  }

  .written-text {
    font-family: AnkeHand, sans-serif;
    font-size: 1rem;
    color: $secondary-color;
  }
}

.login {
  text-align: right;
}

button {
  @include clear_style_in_button;
}
