<div class="container-fluid">
  <header>
    <div class="row">
      <div class="col-md-4">
        <div class="options">
          <button type="button">
            <img src="../assets/images/settings.png" alt="settings" width="25" height="25">
          </button>
        </div>
      </div>
      <div class="col-md-4">
        <h2><em class="written-text">Your</em>HomePage</h2>
      </div>
      <div class="col-md-4 login">
        <button type="button">
              <p style="display: inline-block;">Login</p>
              &nbsp;
              <img src="../assets/images/user.png" alt="login" width="25" height="25" style="display: inline-block">
        </button>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-12 col-md-4">
      <app-calendar></app-calendar>
      <app-notes></app-notes>
    </div>
    <div class="col-12 col-md-4">
      <app-links></app-links>
    </div>
    <div class="col-12 col-md-4">
      <app-gmail></app-gmail>
      <app-tools></app-tools>
    </div>
  </div>
</div>

