@import '../../styles/functions';
@import '../../styles/colors';

.container {
  margin-bottom: 3%;
  text-align: left;
  color: white;
  height: auto;
}

.plus-button button {
  @include plus_button();
}

.notes-header {
  text-align: left;

  p {
    padding: 0;
    margin: 0;
    line-height: 3rem;
    font-size: 2rem;
    color: black;
  }

  .col-6 {
    @include flex();
  }
}

.notes {
  height: 75%;
  max-height: 30rem;
  overflow-y: auto;
}


